* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__main {
    max-width: 340px;
    min-width: 340px;
    color: hsl(243, 100%, 93%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container__section {
    background-color: hsl(228, 56%, 26%);
    padding: 30px 40px;
    border-radius: 10px;
    font-family: 'Raleway';
}

.container__logo {
    border-top-right-radius: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo {
    width: 130px;
}

.list__records {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.item__record {
    width: 45px;
    height: 45px;
    background-color: hsl(229, 57%, 11%);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s;
}

.item__record:hover {
    background-color: hsl(229, 52%, 19%);
    cursor: pointer;
}

.icon__record {
    width: 55px;
}

/*--------------------*/
.container__section__content {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    position: relative;
}

.text {
    font-size: .9em;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.one__bars {
    background-color: hsl(229, 57%, 11%);
    width: 100%;
    height: 15px;
    margin: 15px 0 8px 0;
    border-radius: 30px;
}

.two__bars {
    width: 70%;
    height: 100%;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    border-radius: 30px;
    position: relative;
}

.ball {
    background-color: hsl(243, 100%, 93%);
    width: 10px;
    height: 10px;
    position: absolute;
    right: 1%;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%)
}

.container__GB {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    margin-bottom: 30px;
}

.container__left {
    color: hsl(229, 57%, 11%);
    background-color: #FFF;
    display: inline-flex;
    font-size: 2.5em;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ligther {
    font-size: .3em;
    color: hsl(229, 7%, 55%);
    letter-spacing: .5px;
}

.container__absolut {
    display: inline;
    position: relative;
}

.icon__triangle {
    color: #FFF;
    position: absolute;
    right: 0;
    bottom: -40%;
    transform: translateY(50%);
    rotate: 180deg;
}

.icon__none {
    display: none;
}

@media only screen and (min-width: 1100px) {
    .container__main {
        flex-direction: row;
        align-items: flex-end;
        max-width: 900px;
        min-width: 900px;
    }

    .container__logo {
        padding-right: 100px;
    }

    .container__section__content {
        padding-top: 60px;
        padding-bottom: 10px;
        flex-basis: 100%;
    }

    .container__left {
        left: 36%;
        top: -50%;
        transform: translateY(50%);
    }

    .icon__none {
        display: block;
    }
}